<ion-view title="Contactar " id="page6" style="background-color:#191D1A;">
  <ion-content padding="true" class="has-header">
    <div id="contactar-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#D44848;font-size:20px;">Nos puedes contactar con el siguiente correo. tiendastoreart@gmail.com
      </p>
    </div>
    <div id="contactar-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C54242;font-size:20px;">Aclaraciones nos puede visitar en Escarcerga, Campeche. Ricardo Flores Magon 41x48 C.P 24350</p>
    </div>
    <a href="tel:9821036031" id="contactar-button1" class="button button-positive button-block icon ion-android-call">Llamar</a>
    <a href-inappbrowser="https://www.facebook.com/StoreArtOficial/" id="contactar-button3" style="font-weight:lighter;" class="button button-positive icon ion-social-facebook"></a>
  </ion-content>
</ion-view>