<ion-view title="Información  " id="page2" style="background-color:#5BBE19;">
  <ion-content padding="true" class="has-header">
    <div id="informaciN-markdown7" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#362080;font-size:20px;">Esta aplicación es el primer prototipo que se ha realizado. El objetivo de la aplicación es que el usuario (cliente) pueda saber cómo hacer sus compras online, estando seguro de sus datos y de igual manera saber lo más relevante que se tiene a la
        venta.</p>
    </div>
    <div>
      <img src="img/a4rOJLiQi6orYXIogUj1_information_man_by_mike44nh-d4ut6uc.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>