<ion-view title="Inicio " id="page5">
  <ion-content padding="true" style="background: url(img/Q0f1hRvbTOK7dsTTJnmQ_plan-inicio.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="inicio-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#101B17;font-size:22px;">Bienvenido En esta aplicación podrás encontrar información acerca de nuestra empresa, y por supuesto de nuestra tienda online en la que podrás encontrar diferente artículos y productos.</p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="inicio-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="inicio-slide24" style="background:url(&quot;img/3Mr1L1oSRGAEaD5nOxyg_flat-design-concept-builder.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="inicio-slide25" style="background:url(&quot;img/Mk5ojHBPQGaiHP1Rbxh4_22092651_1425379324244591_1601991301_o.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="inicio-slide26" style="background:url(&quot;img/H2FiEUe2SGdB6F3w4lg3_Screen-Shot-2016-02-28-at-6.16.33-PM.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <button id="inicio-button2" class="button button-positive button-block icon ion-android-playstore">Tienda</button>
  </ion-content>
</ion-view>